<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body> 
    <div id="main">
        <nav>
            <a href="#" id="logo">NMCG X CHACHA CHAUDHARY</a>
            <div class="cntrnav">
                <a  class="you" href="#">Home</a>
                <a class="you" href="#">Mascot</a>
                <a  class="you" href="#">Chatbot</a>
                <a  class="you" href="#">Reference</a>
            </div>
        </nav>
        <div class="one">
            <p id="slogan">
                .........slogan.........
            </p>
            <a  id="cb">ChatBot</a>      
    </div> 
    <div class="two">
        <img id="Namami" src="https://nmcg.nic.in/images/nmcgNew.jpg" alt="">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="script.js"></script>
</body>
</html>